<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mike Site - Hobbies</title>
    <th:block th:replace ="fragments :: head"></th:block>
</head>
<body>
<div th:replace ="fragments::topnav"></div>
<div class=" text-center">
    <h1>Hobbies bobbies</h1>
</div>

<div class="avatar-text">
<img th:src="@{/images/Prima.jpg}" class="avatar">
    <p>I love to blah blah blah</p>
</div>

<div th:replace = "fragments :: footer"></div>
</body>
</html>